body {
    display: flex;
    overflow: hidden;
    justify-content: center;
   color: #F5F1DC;
}
body.arabic-font {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body.default-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}
div{
    width: auto;
    height: auto;
    opacity: 0;
    padding: 25px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    text-align: center;
    overflow: hidden;
    background: #F5F1DC;
    box-shadow: 0 4px 30px #676453;
    transform-origin: center;
    transition: width 0.6s ease, height 0.6s ease, opacity 0.6s ease;
}
#container.reveal {
    animation: revealAnimation 0.6s ease forwards;
}
#results.reveal {
    animation: revealAnimation 0.5s ease forwards;
}
@keyframes revealAnimation {
    0% {width: 200px;
        height: 2px;
        opacity: 0.5;}
    100% {width: 200px;
        height: 220px;
        opacity: 1;}
}
#title {
    font-size: 26px;
    font-weight: bold;
    margin: 4px;
    color: #FF9013;
}
h1 {
    color: #FF9013;
        font-size: 20px;
        font-weight: bold;
}
h2 {
    color: #0046FF;
    font-size: 15px;
}
p {
    color: #73C8D2;
    font-size: 16px;
    margin: 13px;
}
.btn {
  position: relative;
  margin: 10px auto 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #F5F1DC;
  background-color: #0046FF;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  color: #0046FF;
  background-color: #FF9013;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
    background-color: #0046FF;
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.3);
  opacity: 0;
}
.hidden, .btn.hidden {display: none !important;}