html, body { 
  margin: 0 ;
  padding: 0 ; 
  background: transparent !important;
}
.glass {
    width: 100%;
    height: 100%;
    padding: 18px;
    box-sizing: border-box;
}
.hidden, .btn.hidden {display: none !important;}

#container, #results {
   border-radius: 16px;
   padding: 20px;
   box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px) brightness(1.0);
  position: relative;
  overflow: hidden;
  animation: revealAnimation 0.6s ease forwards;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  .glass {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(1px) brightness(0.2);
    -webkit-backdrop-filter: blur(1px) brightness(0.2);
  }
  #container, #results {
    background: rgba(0, 0, 0, 0.192);
    border: 1px solid rgba(255, 255, 255, 0.10);
      box-shadow:
    0 0 25px rgba(0, 106, 255, 0.247),       /* outer blue glow */
    inset 0 0 12px rgba(255, 255, 255, 0.2), /* inner glass shine */
    inset 0 0 30px rgba(0, 0, 0, 0.3);       /* depth shadow */
  }
}
/* LIGHT THEME */
@media (prefers-color-scheme: light) {
  .glass {
    background: rgb(210, 196, 175);
    backdrop-filter: blur(11px) brightness(1.4);
    -webkit-backdrop-filter: blur(11px) brightness(1.1);
  }
  #container, #results {
    background: rgba(255, 251, 245, 0.589);
    border: 1px solid rgba(117, 109, 97, 0.332);
      box-shadow:
    0 0 30px rgba(0, 106, 255, 0.11),            /* outer blue glow */
    inset 0 0 12px rgba(221, 237, 249, 0.62),   /* inner glass shine */
    inset 0 0 30px rgba(229, 250, 255, 0.675);   /* depth shadow */
  }
}

@keyframes revealAnimation {
    0% {width: 200px;
        height: 2px;}
    100% {width: 200px;
        height: 100%;}
}
#title {
    font-size: 26px;
    font-weight: bold;
    margin: 4px;
    color: #FF9013;
}
h1 {
    color: #FF9013;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
}
h2 {
    color: #0046FF;
    font-size: 15px;
}
p {
    color: #73C8D2;
    font-size: 16px;
}
.btn {
  position: relative;
  margin: 10px auto 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 1.5em;
  display: flex;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #F5F1DC;
  background-color: #0046FF;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.35);
}
.btn:focus{
  transform: translateY(-1px);
  color: #0046FF;
  background-color: #FF9013;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
    background-color: #0046FF;
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.3);
  opacity: 0;
}

body.arabic-font {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body.default-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}