body {
    width: 300px;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5;
    margin: 0;
    padding:0;
    background: rgb(208, 208, 188);
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #34420e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
