body {
    display: flex;
    overflow: hidden;
    justify-content: center;
   color: #F5F1DC;
}
#container {
    width: auto;
    height: auto;
    opacity: 0;
    padding: 25px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    text-align: center;
    overflow: hidden;
    background: #0046FF;
    transform-origin: center;
    transition: width 0.6s ease, height 0.6s ease, opacity 0.6s ease;
}
#container.reveal {
    animation: revealAnimation 0.6s ease forwards;
}
@keyframes revealAnimation {
    0% {
        width: 200px;
        height: 2px;
        opacity: 0.5;
    }
    100% {
        width: 200px;
        height: 210px;
        opacity: 1;
    }
}

#result {
    margin-top: 15px;
    font-size: 16px;
    color: #F5F1DC;
    border-radius: 12px;
    padding: 10px;
    animation:slideIn 0.5s ease forwards;
}
@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
#title {
    color: #FF9013;
        font-size: 26px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
}
html [lang="ar"] #title {
    font-family: inherit;
}
html [lang="en"] #title {
    font-family: 'Times New Roman', Times, serif;
}
#text {
    color: #F5F1DC;
    font-size: 18px;
    margin-top: 10px;
}
#prompt {
    color: #73C8D2;
    font-size: 14px;
    margin-top: 15px;
}
.btn {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #FF9013;
  background-color: #F5F1DC;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  color: #F5F1DC;
  background-color: #73C8D2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn::after {
  background-color: #F5F1DC;
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.3);
  opacity: 0;
}
.hidden {
    display: none;
}
.unsafeHidden {
    display: none !important;
}
button#unsafeExitButton.unsafeHidden {
    display: none !important;
}